@font-face {
  src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Inter";
}

:root {
  --color-primary: #0d3356;
  --color-secondary: #2ecc71;
  --accent-color: #e74c3c;

  --color-light: #b9bbbf;
  --color-dark: #333;

  --border-color: #ddd;

  --font-main: Inter;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
}

body {
  font-family: Inter;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  border-bottom: 1px solid #e4e4e4;
}

.main-header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.main-header__logo {
  width: 200px;
}

.main-header__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.main-header__links ul li {
  color: #1a1a1a;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  gap: 30px;
}

.main-header__links ul li a {
  color: var(--color-primary);
  text-decoration: none;
  gap: 30px;
  font-size: 16px;
  font-weight: 500;
}

.main-header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-header__actions button {
  border: none;
  background-color: none;
}

.main-header__actions__bag {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: relative;
}

.main-header__actions__bag--num {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #0d3356;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #fff;
}

.main-header__actions__bag:hover {
  background-color: #f5f9ff;
  transform: scale(1.05);
}

.main-header__actions--bell {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.main-header__actions--bell:hover {
  background-color: #e4e4e4;
  transform: scale(1.05);
}

.main-header__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-header__user__txt {
  display: flex;
  flex-direction: column;
}

.main-header__actions__user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.main-header__user__txt--small {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-light);
}

.main-header__user__txt--big {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 80px;
  gap: 80px;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-gallery__item {
  width: 100%;
  height: 152px;
  overflow: hidden;
  border-radius: 8px;
}

.product-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__gallery--first {
  grid-column: 1 / -1;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.product-details__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(58, 73, 128, 0.5);
  background-color: #eee;
  border-radius: 8px;
  gap: 12px;
  padding: 8px 12px;
  max-width: 500px;

  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
}

.product-details__header--active {
  color: #3a4980;
  font-weight: 600;
  font-size: 14px;
}

.cost-dress {
  display: flex;

  justify-content: space-between;
  /* max-width: 500px; */
  border-bottom: 1px solid #eee;
  padding-bottom: 32px;
}

.cost-dress__txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cost-dress__txt__h3 {
  font-weight: 600;
  font-size: 28px;
  color: #1d2939;
}

.cost-dress__txt__p {
  color: #b9bbbf;
  font-weight: 400;
  font-size: 16px;
}

.cost-dress__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.cost-dress__icons--like {
  display: flex;
  background-color: rgba(215, 90, 81, 0.1);
  padding: 8px 12px;
  border-radius: 10px;
  gap: 8px;
}

.cost-dress__icons--archive {
  background-color: rgba(58, 73, 128, 0.1);
  padding: 8px;
  border-radius: 10px;
}

.cost-dress__icons--share {
  background-color: rgba(58, 73, 128, 0.1);
  padding: 8px;
  border-radius: 10px;
}

.price {
  display: flex;
  align-items: center;
  gap: 60px;
  border-bottom: 1px solid #eee;
  padding: 32px 0;
}

.price__label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.price__label--active {
  font-weight: 700;
  font-size: 32px;
  color: #3a4980;
}

.price__label--sml {
  font-weight: 400;
  font-size: 20px;
  color: #b9bbbf;
}

.price__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.price__actions__items {
  display: flex;
  gap: 12px;
}

.price__actions__item {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 99px;
  padding: 8px 12px;
}

.price__actions__txt {
  font-weight: 500;
  font-size: 14px;
  color: #6f7788;
}

.price__actions__txt span {
  font-weight: 400;
  font-size: 14px;
  color: #1c623a;
}

.star {
  background-color: rgba(220, 160, 29, 0.1);
  color: #dca11d;
}

.comment {
  color: #3a4980;
  background-color: rgba(58, 73, 128, 0.1);
}

.product-color {
  max-width: 500px;
  padding: 32px 0;
  /* border-bottom: 1px solid #eee; */
  display: flex;
  flex-direction: column;
}

.color-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease;
}

.color-btn:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px var(--color-bg);
}

.color-btn__check {
  color: white;
  font-size: 14px;
  display: none;
}

.color-btn--active .color-btn__check {
  display: block;
}

.product-size {
  /* max-width: 500px; */
  padding: 32px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.product-size__title {
  font-size: 16px;
  font-weight: 500;
  color: #b9bbbf;
  margin-bottom: 16px;
}

.product-size__list {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
}

.product-color__title {
  font-size: 16px;
  font-weight: 500;
  color: #b9bbbf;
  margin-bottom: 16px;
}

.product-color__list {
  display: flex;
  gap: 12px;
}

.size-option input {
  display: none;
}

.size-option__card {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background-color: rgba(111, 119, 136, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.size-option__circle {
  width: 16px;
  height: 16px;
  border: 1px solid #3a4980;
  border-radius: 99px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.size-option__text {
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
}

.size-option:hover .size-option__card {
  background-color: rgba(58, 73, 128, 0.1);
}

.size-option:hover .size-option__circle {
  border-color: #94a3b8;
}

.size-option input:checked + .size-option__card {
  background-color: rgba(58, 73, 128, 0.1);
  color: #2d4a8a;
}

.size-option input:checked + .size-option__card .size-option__text {
  color: #3a4980;
  font-weight: 700;
}

.size-option input:checked + .size-option__card .size-option__circle {
  border-color: #2d4a8a;
}

.size-option input:checked + .size-option__card .size-option__circle::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #3a4980;
  border-radius: 99px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
